.white, .black {
  border-bottom-right-radius: 2em;
  border-top-right-radius: 2em;
  cursor: pointer;
  display: inline-flex;
  padding: 1em;
  z-index: 1;
}

.white {
  color: black;
  background-color: white;
}

.black {
  color: white;
  background-color: black;
}
