.game {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: min(calc(12.5vw - 0.25em), calc(20vh - 1.2em)); /* so that 1em is the size of a single cell */
  justify-content: center;
}

.panel {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5em;
  width: 8em;
  height: 1em;
}

.filler {
  height: 100%;
  width: 37.5%;
}

.button {
  align-items: center;
  display: inline-flex;
  font-size: 0.5em;
  justify-content: center;
  background-color: red;
  width: 12.5%;
}

@media screen and (orientation: portrait) {
  .game {
    flex-direction: row-reverse;
    font-size: min(calc(12.5vh - 0.75em), calc(20vw - 0.4em)); /* so that 1em is the size of a single cell */
  }
  .panel {
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 0.5em;
    margin-bottom: 0;
    height: 8em;
    width: 1em;
  }
  .filler {
    width: 100%;
    height: 37.5%;
  }
  .button {
    width: 100%;
    height: 12.5%;
  }
}

@media screen and (max-width: 960px) and (orientation: landscape) {
  .game {
    font-size: min(calc(12.5vw - 0.75em), calc(20vh - 0.4em)); /* so that 1em is the size of a single cell */
  }
}
